*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.body{
    padding: 20px 20px;
}

.header {
    background: url(vector1.png) no-repeat right center;
    color: white;
    font-size: 30px;
    padding: 100px 20px 55px 20px;
}

.input-box{
    display: grid;
    gap: 15px;
    padding: 15px 0 15px 0;
    font-size: 19px;
    font-weight: 500;
}

input {
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-indent: 25px;
    height: 30px;
}

.name{
    background: url(favicon-16x16.png) no-repeat left center;
}

.name2 {
    background:url(favicon-16x16\ \(2\).png) no-repeat left center;
}

a{
    display: flex;
    justify-content: flex-end;
    color: #006BFF;
    font-size: 19px;
    font-weight: bold;
}

.button{
    background-color: #006BFF;
    color: white;
    border: 2px solid #006BFF;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 30px;
    font-size: 25px;
    font-weight: bold;
}

button:hover{
    background-color: #006BFF;
    color: white;
    text-decoration: underline;
}

h5{
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #006bff; 
    line-height: 0.1em;
    margin: 20px 0 20px;
    color: #006BFF;
    font-size: 20px;
    font-weight: 600;
}
h5 span { 
    background:#fff; 
    padding:0 10px; 
}

.btn {
    color: #006BFF;
    margin: 10px 0 10px 0;
    width: 100%;
    border: 1px solid #006BFF;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 30px;
    text-align: center;
}
.btn:hover{
    text-decoration: underline;
}

footer{
    margin: 0 0 15px 0;
    text-align: center;
    font-weight: normal;
}
footer a {
    display: unset;
    font-size: unset;
}

/*Tablet View*/
@media screen and (min-width:688px) {
    .header{
        background: url(vector2.png) no-repeat center center;
        padding: 100px 0 135px 20px; 
    }
    .input-box{
        padding: 15px 50px 15px 50px;
    }
    a{
        font-size: 15px;
    }
    form.body{
        padding: 50px 80px 0;
    }
    h5{
        margin: 20px 10px 20px 10px;
    }
    .button{
        font-size: 15px;
    }
    .box{
        padding: 15px 50px 15px 50px;
    }
}

/*Laptop view*/

@media screen and (min-width:1312px) {
    .header{
        padding: 158px 20px 121px 20px;
        background: url(vector2.png) no-repeat left center;
    }
    .body{
        padding: 20px 150px;
    }
    h3{
        display: none;
    }
    input{
        box-shadow: unset;
        border: 3px solid #006BFF;
        height: 50px;
    }
    .input-box{
        margin-left: 300px;
        margin-right: 300px;
    }
    .or{
        margin-left: 100px;
        margin-right: 100px;
    }
    .box{
        margin-left: 300px;
        margin-right: 300px;
    }
    .btn{
        height: 50px;
        border: 3px solid #006BFF;
    }
    .button{
        height: 50px;
    }
    
}

