.heading {
    font-size: 50px;
    width: 500px;
    margin: auto;
}

.small heading {
    font-size: 30px;
}

.icon {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 25px;
    color: grey;
    padding: 9px 8px;
}