*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: url(mobileimg.png) no-repeat right center;
    background-size: 100%;
    height: 355px;
    color: #006BFF;
    background-color: #006BFF;
}
.head{
    padding: 40px 66px 0;
    text-align: center;
}
.web-head{
    display: none;
}
h2{
    margin-bottom: 40px;
    margin-top: 40px;
}
.head-p{
    display: none;
}
nav{
    display: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
main{
    font-family: 'Poppins', sans-serif;
}
.search{
    font-weight: 400;
    height: 30px;
    border-radius: 5px;
    width: 88%;
}
.head-button{
    font-weight: bold;
    width: 10%;
    height: 20px;
    background-color: #006BFF;
    border: 1px solid #006BFF;
}
h5{
    font-weight: bold;
}
.section-job{
    background-color: #006BFF;
    padding: 17px 25px 0;
    color: white;
}
.latest{
    display: flex;
    justify-content: flex-end;
}
.latest-button{
    display: none;
} 
a{
    font-weight: 500;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}
.title{
    display: flex;
    justify-content: space-evenly;
    font-weight: normal;
}
.one{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    font-weight: bold;
}
.two{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    font-weight: bold;
}
.three{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    font-weight: bold;
}
.four{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    font-weight: bold;
}
.job-p{
    text-align: right;
    padding: 10px 0;
    font-weight: 600;
}
.category{
    padding: 17px 25px 0;
}
.h3{
color: #006BFF;
margin-bottom: 20px;
font-weight: bold;
}
.categories{
    display: none;
}
.section-works{
    display: flex;
    justify-content: space-evenly;
    padding: 17px 25px 0;
    background-color: #006BFF;
    color: white;
    height: 250px;
    font-weight: bold;
}
.img{
    display: flex;
    justify-content: space-evenly;
}
.caption{
    display: flex;
    justify-content: space-around;
}
.arrow{
    width: 20px;
    padding: 40px 5px;
}
.click-arrow{
    display: none;
}
.h3-works{
    margin-bottom: 36px;
}
.section-options{
    padding: 17px 25px 0;
}
.h3-options{
    color: #006BFF;
    font-weight: bold;
}
.client{
    font-weight: 600;
}
.detail{
    font-weight: 500;
}
.slideshow-container{
    text-align: center;
}
.last{
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 300;
}
.prev{
    position: absolute;
    left: 10px;
}
.next{
    position: absolute;
    right: 10px;
}
.section-faq{
    padding: 17px 25px 17px;
    color: #006BFF;
}
.h3-faq{
    margin-bottom: 10px;
    font-weight: bold;
}
.p-faq{
    margin-bottom: 10px;
    font-weight: 500;
}
.p-faq1{
    margin-bottom: 20px;
}
.hr{
    border: 1px solid #006BFF;
}
.img-faq{
    margin: 0 0 0 300px;
}
.content-faq{
    padding: 20px 0;
    font-weight: 600;
}
.p1-faq{
    font-weight: normal;
}
.faq-button{
    background-color: white;
    color: #006BFF;
    border-radius: 4px;
    border: 1px solid #006BFF;
    width: 70%;
    margin: 0 15%;
    font-weight: 600;
}
button{
    height: 30px;
}
.section-app{
    padding: 17px 25px;
}
.app{
    background-color: #006BFF;
    padding: 25px 25px;
}
.h6-app{
    margin-bottom: 20px;
    font-weight: 600;
}
.p-app{
    font-weight: normal;
}
.download{
    width: 35%;
    margin-top: 20px;
}
.phone{
    display: none;
}
.empty{
    display: none;
}
.section-join{
    padding: 17px 25px;
}
.join{
    padding: 10px 0 20px;
    color: #006BFF;
    font-weight: 600;
}
.join-p{
    font-weight: normal;
}
.join-button{
    background-color: white;
    color: #006BFF;
    border-radius: 4px;
    border: 1px solid #006BFF;
    width: 70%;
    margin: 18px 15%;
    font-weight: 600;
}
.hr-join{
    border: 1px solid #006BFF;
}
footer{
    padding: 17px 25px;
}
footer a{
    display: grid;
    color: black;
    margin: 5px 0 0;
}
.logo{
    margin-bottom: 15px;
}
.container1{
    padding: 25px 0 10px 0;
    font-weight: 600;
}
.container2{
    padding: 5px 0 5px 0;
    font-weight: normal;
}
.click-arrow{
    display: none;
}
.icon{
    width: 20px;
}

/*Laptop View*/
@media screen and (min-width:688px) {
    header{
        background: url(imagehome.png) no-repeat center center;
        background-size: 100% 395px;
    }
    .head{
        display: none;
    }
    .web-head{
        display: block;
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;
        line-height: 36px;
        font-size: 15px;
    }
    a{
        color: #006BFF;
    }
    span{
        color: #FBBC04;
        font-family: 'Raleway', sans-serif;
    }
    .span-br{
        color: white;
    }
    .head-button{
        background-color: #006BFF;
        border: 1px solid #006BFF;
        border-radius: 0 4px 4px 0;
        height: 50px;
        color: white;
    }
    .h3-web{
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 900;
        color: white;
        padding: 38px 0 20px;
    }
    .search{
        height: 50px;
        width: 25%;
        text-indent: 10px;
        text-indent: 30%;
        border-radius: 4px 0 0 4px;
        border: 1px solid white;
    }
    .head-p{
        display: block;
        margin-top: 15px;
        font-size: 15px;
    }
    h5{
        font-size: 20px;
    }
    .a-latest{
        color: white;
        font-size: 13px;
        padding: 0 10px;
    }
    .latest-button{
        display: flex;
        width: 12%;
        background-color: white;
        color: #006BFF;
        border: 1px solid white;
        border-radius: 4px;
        align-items: center;
        text-indent: 15px;   
    }
    .br-one{
        display: none;
    }
    .title{
        padding: 9px 100px 0 0;
    }
    .one{
        font-size: 18px;
    }
    .two{
        font-size: 18px;
    }
    .three{
        font-size: 18px;
    }
    .four{
        font-size: 18px;
    }
    .categories{
        display: flex;
        padding: 20px 30px;
    }
    .group{
        max-width: 100%;
        height: 250px;
    }
    .names{
        display: none;
    }
    .button-cat{
        width: 30%;
        color: white;
        background-color: #006BFF;
        border: 1px solid #006BFF;
        border-radius: 4px;
        align-self: center;
        margin: 0 0 20px 230px;
    }
    .section-works{
        display: block;
        padding: 20px 30px;
        height: 350px;
    }
    .img{
        padding: 0 90px;
    }
    .caption{
        padding: 15px 90px;
    }
    .next{
        right: 45px;
    }
    .prev{
        left: 45px;
    }
    .last{
        margin: 10px 50px 30px 50px;
    }
    .section-faq{
        padding: 20px 30px;
    }
    .h3-faq{
        margin-bottom: 0;
    }
    .content-faq{
        margin: 25px 85px;
    }
    .img-faq{
        margin: 0 0 0 500px;
    }
    .faq-button{
        width: 30%;
        margin: 0 37%;
    }
    button:hover{
        background-color: #006BFF;
        color: white;
    }
    .download{
        width: 85%;
    }
    .section-app{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1px;
        background-color: #006BFF;
        margin: 20px 30px;
    }
    .phone{
        display: grid;
    }
    .empty{
        display: grid;
    }
    .h6-app{
        font-size: 15px;
    }
    .p-app{
        font-size: 12px;
    }
    .phone-app{
        display: flex;
        justify-content: flex-end;
    }
    .section-join{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 70px 30px;
        padding: 0;
    }
    .hr-join{
        margin: 70px 120px 0;
    }
    .join-grid{
        display: grid;
    }
    .phone{
        width: 85%;
        padding: 0 2px 0 2px;
        margin: 0 0 0 -120px;
    }
    .app{
        padding: 20px 5px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 100px;
        padding: 20px 30px;
    }

}


@media screen and (min-width:992px){
    header{
        background: url(imagehome.png) no-repeat center center;
        background-color: #006BFF;
        background-size: 100% 393px;
        color: white;
    }
    .head{
        display: none;
    }
    .web-head{
        display: block;
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        line-height: 36px;
    }
    a{
        color: #006BFF;
    }
    span{
        color: #FBBC04;
    }
    .head-button{
        background-color: #006BFF;
        border: 1px solid #006BFF;
        border-radius: 0 4px 4px 0;
        height: 50px;
        color: white;
    }
    .h3-web{
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        padding: 20px 0;
    }
    .search{
        height: 50px;
        width: 25%;
        text-indent: 10px;
        text-indent: 30%;
        border-radius: 4px 0 0 4px;
        border: 1px solid white;
    }
    .head-p{
        display: block;
        color: #006BFF;
        padding: 25px 0;
    }
    .section-job{
        background: url(Vectorhome.png) no-repeat center center;
        padding: 20px 30px 0;
    }
    .a-latest{
        color: white;
        font-size: 18px;
    }
    .latest-button{
        display: flex;
        width: 9%;
        background-color: white;
        color: #006BFF;
        border: 1px solid white;
        border-radius: 4px;
        align-items: center;
        text-indent: 15px;
        
    }
    .title{
        padding: 5px 135px 5px 0;
    
    }
    .br-one{
        display: none;
    }
    .job-p{
        display: flex;
        justify-content: flex-end;
        color: white;
    }
    .click-arrow{
        display: flex;
        padding: 0 20px 20px;
    }
    .categories{
        display: flex;
        padding: 20px 30px;
    }
    .group{
        max-width: 100%;
        height: 330px;
    }
    .names{
        display: none;
    }
    .button-cat{
        width: 30%;
        color: white;
        background-color: #006BFF;
        border: 1px solid #006BFF;
        border-radius: 4px;
        align-self: center;
        margin: 0 0 20px 330px;
    }
    .section-works{
        display: block;
        padding: 20px 30px;
        height: 350px;
    }
    .img{
        padding: 0 150px;
    }
    .caption{
        padding: 15px 150px;
    }
    .next{
        right: 45px;
    }
    .prev{
        left: 45px;
    }
    .section-faq{
        padding: 20px 30px;
    }
    .h3-faq{
        margin-bottom: 0;
    }
    .content-faq{
        margin: 25px 85px;
    }
    .img-faq{
        margin: 0 0 0 760px;
    }
    .faq-button{
        width: 30%;
        margin: 0 37%;
    }
    button:hover{
        background-color: #006BFF;
        color: white;
    }
    .download{
        width: 50%;
    }
    .section-app{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1px;
        background-color: #006BFF;
        margin: 20px 30px;
    }
    .phone-app{
        display: flex;
        justify-content: flex-end;
        width: 350px;
    }
    .section-join{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 70px 30px;
        padding: 0;
    }
    .hr-join{
        margin: 70px 120px 0;
    }
    .join-grid{
        display: grid;
    }
    .phone{
        width: 85%;
        padding: 0 2px 0 2px;
        margin: 0 0 0 -190px;
    }
    .app{
        padding: 20px 5px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 100px;
        padding: 20px 30px;
    }

}

@media screen and (min-width:1312px) {
    header{
        background-size: 100% 100%;
    }
    .user{
        font-size: 25px;
    }
    .h3-web{
        font-size: 30px;
    }
    .head-p{
        font-size: 20px;
    }
    h5{
        font-size: 25px;
    }
    .a-latest{
        font-size: 15px;
    }
    .title{
        padding-right: 220px;
        font-size: 20px;
    }
    .one{
        font-size: 30px;
    }
    .two{
        font-size: 30px;
    }
    .three{
        font-size: 30px;
    }
    .four{
        font-size: 30px;
    }
    .group{
        height: 455px;
    }
    button{
        font-size: 20px;
        height: 50px;
    }
    .button-cat{
        margin-left: 475px;
    }
    .img-faq{
        margin-left: 1160px;
    }
    .faq-button{
        height: 45px;
    }
    .join{
        font-size: 30px;
    }
    .join-p{
        font-size: 25px;
    }
    .h6-app{
        font-size: 30px;
    }
    .p-app{
        font-size: 25px;
    }
}